/* Your styles go here */
*{
	margin: 0;
	padding: 0
}

body {
	font-family: sans-serif;
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 20px;
}

#root{
	width: 500px;

}

h1, h2{
	padding: 10px;
}
h2{
	font-size: 30px;
}
button{
	border-radius: 10px;
	font-size: 1.2em;
	margin: 10px 20px;
	padding: 3px 10px;
}

.empty_list{
	font-size: 1.5em;
	padding: 10px 0;
}

input[type=text] {
	padding:5px 10px;
	font-size: 1.2em;
}
.listitems ul li{
	width: 400px;
}

.listyle{
	font-size: 3vh;
	padding: 0 100px;
	text-align: center;
	list-style: none;
	margin: 20px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

