$backgroundcol: #ffffff;
$contentBackground: "../img/header_background_v1.jpg";
$font1: Roboto, Ubuntu, Cantarell, Helvetica, sans-serif;
$font-size: 15px/24px;
$buttoncolor: #01acac;
$backarticlecol: #efefef;
$timecol: #e90303;
$navcol: #ececec;
$top-wrapperAcol: #0097a7; 
$btntextcol: #fffaea;
$blogcol: #010f16;
$toolbarborder: #607d8b;
$articleP: #515050;
