$backgroundcol: #efefef;
$contentBackground: "../img/header_background_v2.jpg";
$font1: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$font-size: 18px/26px;
$buttoncolor: #0401ac;
$backarticlecol: #ffffff;
$timecol: #bdcbdf;
$navcol: #ff5722;
$top-wrapperAcol: #607d8b;
$btntextcol: #ffffff;
$blogcol: #757575;
$toolbarborder: #cfd8dc;
$articleP: #939596;