main {
  margin-left: 200px;
  margin-right: 200px; }
  main .toolbar {
    font-size: 0.6923076923;
    text-align: right;
    margin: 20px;
    margin-right: 0; }
    main .toolbar input {
      border: 1px solid #cfd8dc;
      padding: 8px 15px;
      background: #efefef; }
  main .post-list h1 {
    text-align: right;
    font: normal 700 25px/24px "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin: 0;
    color: #757575; }

body {
  background-color: #efefef;
  margin: auto; }
  body header {
    background-image: url("../img/header_background_v2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    text-align: center; }
    body header h1, body header a {
      color: #ff5722; }
  body footer {
    color: #939596;
    position: relative;
    top: 70px;
    font: normal 500 12px/20px "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin-bottom: 10px; }

.logo img {
  width: 230px;
  position: absolute;
  top: 0%;
  left: 0%; }

.top-wrapper + section {
  color: white;
  margin: 0;
  position: relative;
  top: 40%;
  font: normal 300 15px/24px "Palatino Linotype", "Book Antiqua", Palatino, serif; }

h1, h2, h3, a {
  text-transform: uppercase; }

nav {
  text-align: right;
  padding: 10px; }
  nav a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px 110px;
    font: 600 15px/24px "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: white;
    border-right: 2px solid #607d8b; }

.btn {
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 0;
  border: 1px solid #0401ac;
  background: #0401ac;
  font-weight: 200;
  padding: .8em 3.5em;
  text-decoration: none; }
  .btn:hover {
    background-color: #ffffff;
    color: #0401ac;
    font-weight: bold;
    border-color: white; }

article {
  display: flex;
  background: #ffffff;
  padding: 10px;
  margin-bottom: 20px; }
  article .post div {
    color: #bdcbdf;
    border-bottom: 1px solid #cfd8dc;
    padding-bottom: 10px;
    font: 200 11px/3px "Palatino Linotype", "Book Antiqua", Palatino, serif; }
  article .post {
    padding: 10px; }
  article h3 {
    font: 700 19px/1px "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #607d8b;
    padding: 0; }
  article p {
    font: normal 300 14px/24px "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin-top: 0;
    color: #939596; }
  article .btn {
    float: right;
    padding: 0.8em 5em; }
  article img {
    transform: scale(0.99); }

.post-description + div {
  margin: 5px; }

.about {
  padding-top: 20px; }
  .about img {
    width: 100%; }
  .about h1 {
    text-align: right;
    font: 700 22px/1px "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #757575; }
  .about p {
    font: normal 300 14px/24px "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin: 0px 15px 15px 15px;
    color: #939596; }

.contact-form {
  padding-top: 20px; }
  .contact-form h1 {
    color: #757575;
    text-align: right;
    margin: 0;
    font: normal 700 22px/24px "Palatino Linotype", "Book Antiqua", Palatino, serif; }
  .contact-form h4 {
    color: #757575;
    text-transform: uppercase;
    font: normal 600 17px/24px "Palatino Linotype", "Book Antiqua", Palatino, serif;
    text-align: right;
    margin: 0; }

form input, form textarea {
  padding: 18px 0px 0px 0px;
  border: 1px solid #cfd8dc;
  background: #efefef; }
form #contact_email {
  margin-right: 0; }
form #contact_message {
  width: 100%; }
form .formhead {
  text-align: right;
  font: normal 15px/24px "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: #607d8b; }
form #margin {
  float: right; }

.col-2 {
  width: 49.6%;
  display: inline-block; }
  .col-2 .form-control {
    width: 100%; }

.submit-btn {
  font: normal 0.6923076923 "Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin-top: 20px;
  float: right;
  padding: 0.7em 6em; }
