main {
  margin-left: 200px;
  margin-right: 200px; }
  main .toolbar {
    font-size: 0.625;
    text-align: right;
    margin: 20px;
    margin-right: 0; }
    main .toolbar input {
      border: 1px solid #607d8b;
      padding: 8px 15px;
      background: #ffffff; }
  main .post-list h1 {
    text-align: right;
    font: normal 700 25px/24px Roboto, Ubuntu, Cantarell, Helvetica, sans-serif;
    margin: 0;
    color: #010f16; }

body {
  background-color: #ffffff;
  margin: auto; }
  body header {
    background-image: url("../img/header_background_v1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    text-align: center; }
    body header h1, body header a {
      color: #ececec; }
  body footer {
    color: #515050;
    position: relative;
    top: 70px;
    font: normal 500 12px/20px Roboto, Ubuntu, Cantarell, Helvetica, sans-serif;
    margin-bottom: 10px; }

.logo img {
  width: 230px;
  position: absolute;
  top: 0%;
  left: 0%; }

.top-wrapper + section {
  color: white;
  margin: 0;
  position: relative;
  top: 40%;
  font: normal 300 15px/24px Roboto, Ubuntu, Cantarell, Helvetica, sans-serif; }

h1, h2, h3, a {
  text-transform: uppercase; }

nav {
  text-align: right;
  padding: 10px; }
  nav a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px 110px;
    font: 600 15px/24px Roboto, Ubuntu, Cantarell, Helvetica, sans-serif;
    color: white;
    border-right: 2px solid #607d8b; }

.btn {
  text-transform: uppercase;
  color: #fffaea;
  border-radius: 0;
  border: 1px solid #01acac;
  background: #01acac;
  font-weight: 200;
  padding: .8em 3.5em;
  text-decoration: none; }
  .btn:hover {
    background-color: #fffaea;
    color: #01acac;
    font-weight: bold;
    border-color: white; }

article {
  display: flex;
  background: #efefef;
  padding: 10px;
  margin-bottom: 20px; }
  article .post div {
    color: #e90303;
    border-bottom: 1px solid #607d8b;
    padding-bottom: 10px;
    font: 200 11px/3px Roboto, Ubuntu, Cantarell, Helvetica, sans-serif; }
  article .post {
    padding: 10px; }
  article h3 {
    font: 700 19px/1px Roboto, Ubuntu, Cantarell, Helvetica, sans-serif;
    color: #0097a7;
    padding: 0; }
  article p {
    font: normal 300 14px/24px Roboto, Ubuntu, Cantarell, Helvetica, sans-serif;
    margin-top: 0;
    color: #515050; }
  article .btn {
    float: right;
    padding: 0.8em 5em; }
  article img {
    transform: scale(0.99); }

.post-description + div {
  margin: 5px; }

.about {
  padding-top: 20px; }
  .about img {
    width: 100%; }
  .about h1 {
    text-align: right;
    font: 700 22px/1px Roboto, Ubuntu, Cantarell, Helvetica, sans-serif;
    color: #010f16; }
  .about p {
    font: normal 300 14px/24px Roboto, Ubuntu, Cantarell, Helvetica, sans-serif;
    margin: 0px 15px 15px 15px;
    color: #515050; }

.contact-form {
  padding-top: 20px; }
  .contact-form h1 {
    color: #010f16;
    text-align: right;
    margin: 0;
    font: normal 700 22px/24px Roboto, Ubuntu, Cantarell, Helvetica, sans-serif; }
  .contact-form h4 {
    color: #010f16;
    text-transform: uppercase;
    font: normal 600 17px/24px Roboto, Ubuntu, Cantarell, Helvetica, sans-serif;
    text-align: right;
    margin: 0; }

.formc {
  margin-top: 20px;
  position: relative;
  text-align: left; }
  .formc input, .formc textarea {
    padding: 12px 20px;
    border: 1px solid #607d8b;
    background: #ffffff; }
  .formc #contact_name, .formc #contact_email {
    width: 425px; }
  .formc #contact_name {
    margin-right: 4px; }
  .formc #contact_message {
    width: 900px; }
  .formc .formhead {
    text-align: right;
    font: normal 15px/24px Roboto, Ubuntu, Cantarell, Helvetica, sans-serif;
    color: #0097a7; }

.col-2 {
  display: inline-block;
  position: flex;
  width: auto;
  justify-content: space-between; }

.submit-btn {
  font: normal 0.625 Roboto, Ubuntu, Cantarell, Helvetica, sans-serif;
  margin-top: 20px;
  float: right;
  padding: 0.7em 6em; }
